/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/local.properties
/captures
.DS_Store
.externalNativeBuild
.cxx
.gradle
*.iml
